package components

templ Footer() {
    <footer class="footer">
        <div class="content has-text-centered">
            <p>
            <strong>BC</strong> by <a href="#">Miquéias Alaéviton Moureira</a>.
            </p>
        </div>
    </footer>
}